<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Project1Dev"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=tcp:cstp2104.database.windows.net,1433;Initial Catalog=2104project;Persist Security Info=False;User ID=admin2104;Password=Shopper12@;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;">
		</add>
		<add name="ProjectContactDev"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=tcp:cstp2104.database.windows.net,1433;Initial Catalog=2104project;Persist Security Info=False;User ID=admin2104;Password=Shopper12@;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;">
		</add>
	</connectionStrings>
</configuration>